In [3]:
# autoreload modules when files have been altered
%load_ext autoreload
%autoreload 2

import sys, os
sys.path.append("../../SFgithub/SFscripts/")

import numpy as np
from surveyInfoPickler import surveyInformation

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
RAVE = surveyInformation()

RAVE.data_path = '../../SFgithub/SFdata'
RAVE.photo_path = '/media/andy/37E3-0F91/2MASS/RAVE-2MASS_fieldbyfield_29-11/RAVEfield_'
RAVE.spectro = '/RAVE'
RAVE.spectro_fname = '/RAVE_wPlateIDs.csv'
RAVE.spectro_coords = ['FieldName', 'RA_TGAS', 'DE_TGAS', 'Jmag_2MASS', 'Kmag_2MASS', 'Hmag_2MASS']
RAVE.field_coords = (['RAVE_FIELD', 'RAdeg', 'DEdeg'], 'Equatorial')
RAVE.photo_coords = ['RA', 'Dec', 'j', 'h', 'k']
RAVE.field_SA = 28.3
RAVE.spectro_pickle_fname = '/surveydata_RAVEfields.pickle'
RAVE.photo_pickle_fname = '/2massdata_RAVEfields.pickle'
RAVE.sf_pickle_fname = '/2massdata_RAVEfields.pickle'
RAVE.obsSF_pickle_fname = '/RAVE_obsSF.pickle'
RAVE.photo_tag = '.csv'
RAVE.fieldlabel_type = str
RAVE.iso_pickle_file = "/evoTracks/isochrone_distributions_resampled.pickle" 
RAVE.field_fname = '/RAVE_FIELDS_wFieldIDs.csv'

RAVE()

In [21]:
RAVE.testFiles()

pklfile = "../../SFgithub/SFdata/RAVE/raveFileInformation.pickle"
RAVE.pickleInformation(pklfile)

The path to your photometric survey, photo_path, does not exist: /media/andy/37E3-0F91/2MASS/RAVE-2MASS_fieldbyfield_29-11/RAVEfield_

Your angular coordinates will be treated as Equatorial.

 The solid angle extent of your fields is 28.3


Your field labels are of type <type 'str'>

In [29]:
APOGEE = surveyInformation()

APOGEE.data_path = '../../SFgithub/SFdata'
APOGEE.photo_path = '/media/andy/37E3-0F91/2MASS/Apogee-2MASS/APOGEEfield_'
APOGEE.spectro = '/APOGEE'
APOGEE.spectro_fname = '/TGAS_APOGEE_supp_keplercannon_masses_ages.csv'
APOGEE.spectro_coords = ['# location_id', 'ra', 'dec', 'j', 'k', 'h']
APOGEE.field_coords = (['FieldName', 'RA', 'Dec', "Hlim", "JKlim"], 'Equatorial')
APOGEE.photo_coords = ['RA', 'Dec', 'j', 'h', 'k']
APOGEE.field_SA = 7.
APOGEE.spectro_pickle_fname = '/surveydata_APOGEEfields.pickle'
APOGEE.photo_pickle_fname = '/2massdata_APOGEEfields.pickle'
APOGEE.sf_pickle_fname = '/sf_apogeefields.pickle'
APOGEE.obsSF_pickle_fname = '/APOGEE_obsSF.pickle'
APOGEE.photo_tag = '.csv'
APOGEE.fieldlabel_type = np.float64
APOGEE.iso_pickle_file = "/evoTracks/isochrone_distributions_resampled.pickle" 

#APOGEE.field_fname = "/apogeetgasdr14_fieldinfo.csv"
APOGEE.field_fname = "/apogeetgasdr14_fieldinfo_limits.csv"
APOGEE.limlabels = ()

APOGEE()

In [30]:
APOGEE.testFiles()

pklfile = "../../SFgithub/SFdata/APOGEE/ApogeeFileInformation.pickle"
APOGEE.pickleInformation(pklfile)

The path to your photometric survey, photo_path, does not exist: /media/andy/37E3-0F91/2MASS/Apogee-2MASS/APOGEEfield_

Your angular coordinates will be treated as Equatorial.

The path to your photometric pickled instance, photo_pickle_path, does not exist: ../../SFgithub/SFdata/APOGEE/2massdata_APOGEEfields.pickle

The path to your spectroscopic pickled instance, spectro_pickle_path, does not exist: ../../SFgithub/SFdata/APOGEE/surveydata_APOGEEfields.pickle

 The solid angle extent of your fields is 7.0


Your field labels are of type <type 'numpy.float64'>

In [18]:
import pandas as pd
pd.read_csv("../../SFgithub/SFdata/APOGEE/apogeetgasdr14_fieldinfo_limits.csv")

     FieldName       RA     Dec         Hlim       JKlim
0       2000.0  256.803  35.579  (7.0, 13.8)  (0.5, nan)
1       2001.0  257.363  33.635  (7.0, 13.8)  (0.5, nan)
2       2003.0  258.803  31.874  (7.0, 13.8)  (0.5, nan)
3       2005.0  259.822  27.415  (7.0, 13.8)  (0.5, nan)
4       2007.0  316.073   0.000  (7.0, 13.8)  (0.5, nan)
5       2011.0  322.963   0.011  (7.0, 13.8)  (0.5, nan)
6       2015.0  316.754  10.196  (7.0, 13.8)  (0.5, nan)
7       2034.0  262.137  57.653  (7.0, 13.8)  (0.5, nan)
8       2037.0  255.149  63.324  (7.0, 13.8)  (0.5, nan)
9       2045.0   40.763  -0.000  (7.0, 13.8)  (0.5, nan)
10      2046.0   41.333  -0.000  (7.0, 13.8)  (0.5, nan)
11      2049.0   49.023  -0.000  (7.0, 13.8)  (0.5, nan)
12      2050.0   49.473   0.000  (7.0, 13.8)  (0.5, nan)
13      2051.0   50.173  -0.000  (7.0, 13.8)  (0.5, nan)
14      2052.0   51.343   0.000  (7.0, 13.8)  (0.5, nan)
15      2054.0   56.273  -0.015  (7.0, 13.8)  (0.5, nan)
16      2070.0  111.905  40.139  (7.0, 13.8)  (0.5, nan)
17      2071.0  112.169  41.975  (7.0, 13.8)  (0.5, nan)
18      2072.0  113.291  43.970  (7.0, 13.8)  (0.5, nan)
19      2073.0  114.570  46.683  (7.0, 13.8)  (0.5, nan)
20      2074.0  114.083  38.430  (7.0, 13.8)  (0.5, nan)
21      2075.0  114.580  40.820  (7.0, 13.8)  (0.5, nan)
22      2076.0  115.471  42.988  (7.0, 13.8)  (0.5, nan)
23      2077.0  116.624  45.193  (7.0, 13.8)  (0.5, nan)
24      2079.0  117.685  41.524  (7.0, 13.8)  (0.5, nan)
25      2080.0  118.404  43.916  (7.0, 13.8)  (0.5, nan)
26      2081.0  119.442  48.905  (7.0, 13.8)  (0.5, nan)
27      2082.0  120.315  42.165  (7.0, 13.8)  (0.5, nan)
28      2084.0  116.122  27.481  (7.0, 13.8)  (0.5, nan)
29      2085.0  116.811  29.095  (7.0, 13.8)  (0.5, nan)
..         ...      ...     ...          ...         ...
609     5117.0   92.844  44.330  (7.0, 13.8)  (0.5, nan)
610     5126.0  147.250  38.100  (7.0, 13.8)  (0.5, nan)
611     5127.0  126.500   0.167  (7.0, 13.8)  (0.5, nan)
612     5134.0  319.581  32.149  (7.0, 13.8)  (0.5, nan)
613     5135.0   12.084 -12.146  (7.0, 13.8)  (0.5, nan)
614     5136.0   26.092 -18.374  (7.0, 13.8)  (0.5, nan)
615     5138.0   34.429  -5.267  (7.0, 13.8)  (0.5, nan)
616     5139.0   41.038 -12.798  (7.0, 13.8)  (0.5, nan)
617     5140.0  314.165  36.140  (7.0, 13.8)  (0.5, nan)
618     5141.0  333.426  41.843  (7.0, 13.8)  (0.5, nan)
619     5144.0   51.030  20.131  (7.0, 13.8)  (0.5, nan)
620     5145.0   60.634  11.012  (7.0, 13.8)  (0.5, nan)
621     5146.0  348.813  42.488  (7.0, 13.8)  (0.5, nan)
622     5149.0   65.936  60.964  (7.0, 13.8)  (0.5, nan)
623     5150.0   48.593  48.365  (7.0, 13.8)  (0.5, nan)
624     5151.0   87.984  42.449  (7.0, 13.8)  (0.5, nan)
625     5153.0  328.379  46.634  (7.0, 13.8)  (0.5, nan)
626     5154.0  330.004  55.050  (7.0, 13.8)  (0.5, nan)
627     5155.0   96.209  -4.582  (7.0, 13.8)  (0.5, nan)
628     5160.0   65.804  18.397  (7.0, 13.8)  (0.5, nan)
629     5161.0   63.379  23.618  (7.0, 13.8)  (0.5, nan)
630     5162.0   59.224  25.034  (7.0, 13.8)  (0.5, nan)
631     5166.0  103.347  -0.951  (7.0, 13.8)  (0.5, nan)
632     5171.0   57.500  24.100  (7.0, 13.8)  (0.5, nan)
633     5172.0   86.654   0.134  (7.0, 13.8)  (0.5, nan)
634     5173.0   85.416  -2.120  (7.0, 13.8)  (0.5, nan)
635     5175.0   82.000   3.000  (7.0, 13.8)  (0.5, nan)
636     5176.0  102.700  -4.450  (7.0, 13.8)  (0.5, nan)
637     5177.0   92.616  -6.375  (7.0, 13.8)  (0.5, nan)
638     5200.0  230.133   2.089  (7.0, 13.8)  (0.5, nan)

[639 rows x 5 columns]